body {
    background-color: black;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

a {
    color: white;
    text-decoration: none;
    padding: 5px;
}

nav a:hover {
    color: #0378C0;
    transition: all     300ms;
}

#container {
    background-color: #001A2D;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
}

.intro {
    display: flex;
    flex-direction: column;
    width: 400p;
    gap: 1rem;
    text-align: center;
}

article img {
    height: 500px;
    width: 250px;
}




span {
    color: #015C92;
}

.CV {
    background-color: #0378C0;
    border-radius: 50px;
}

.CV:active {
    background-color: rgb(180, 180, 154);
}

.networks a:hover {
    color: rgb(180, 180, 154);
}

footer {
    color: white;
    font-size: large;
}