body {
    background-color: black;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

a {
    color: white;
    text-decoration: none;
    padding: 5px;
}

nav a:hover {
    color: #0378C0;
    transition: all     300ms;
}

#container {
    background-color: #001A2D;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
}

.intro {
    display: flex;
    flex-direction: column;
    width: 400p;
    gap: 1rem;
    text-align: center;
}

article img {
    height: 500px;
    width: 200px;
}

span {
    color: #015C92;
}

.CV {
    background-color: #0378C0;
    border-radius: 50px;
}

.CV:active {
    background-color: rgb(180, 180, 154);
}

.networks a:hover {
    color: rgb(180, 180, 154);
}

footer {
    color: white;
    font-size: large;
}

/* cube */

.scene-3d {
    --cube-size: 300px;
    --distance: 150px;

    perspective: 400px;
    width: var(--cube-size);
    height: var(--cube-size);
    margin-left: auto;
    margin-right: auto;
}
.scene-3d:hover .cube-3d {
    --distance: 220px;
}

.cube-3d {
    position: relative;
    width: var(--cube-size);
    height: var(--cube-size);
    transform-origin: 50%;
    animation: rotate-cube 6s linear infinite;
    transform-style: preserve-3d;
}
.cube-3d > img {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--cube-size);
    height: var(--cube-size);
    transition: all 1s;
}
.cube-3d > img:nth-child(1) {transform: translateX(var(--distance)) rotateY(90deg); }
.cube-3d > img:nth-child(2) {transform: translateX(calc(var(--distance) * -1)) rotateY(90deg); }
.cube-3d > img:nth-child(3) {transform: translateY(var(--distance)) rotateX(90deg); }
.cube-3d > img:nth-child(4) {transform: translateY(calc(var(--distance) * -1)) rotateX(90deg); }
.cube-3d > img:nth-child(5) {transform: translateZ(var(--distance)); }
.cube-3d > img:nth-child(6) {transform: translateZ(calc(var(--distance) * -1)); }

@keyframes rotate-cube {
    from { transform: translateZ(-300px) rotateX(0) rotateY(0); }
    to { transform: translateZ(-300px) rotateX(360deg) rotateY(360deg); }
}
